/* COULEURS
{"Violet Blue":"3b429f","Lavender Floral":"aa7dce","Nyanza":"dceed1","Cambridge Blue":"aac0aa","Pine Tree":"292e1e"}


COULEURS 2
{"Raisin Black":"2a2a2e","Periwinkle Crayola":"c4c6e7","Marigold":"f5a614"}
 */

 html, body {
    height: 100%;
  }

 .btsbutton{
     width: 40%;
 }

 #footer{
     background-color: #2a2a2e;
     width: 100%;

 }
